/* Global reset and default styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Body styles */
body {
    background:  #f0f0f0; /* Background color */
}

/* Styles for the container */
.container {
    width: 400px;
    padding: 25px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2e2e2e;
    border-radius: 10px;
    margin-top: .20px;
}

/* Paragraph inside the container */
.container p {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 8px;
    color: white;
}

/* Input field inside the container */
.container input {
    width: 100%;
    height: 50px;
    border: 1px solid #494eea;
    outline: 0;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 15px;
}

/* Button inside the container */
.container button {
    width: 100%;
    height: 50px;
    background: #494eea;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 20px 0;
    font-weight: 500;
}

/* Container for the generated image */
#imgBox {
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s; /* Smooth transition for image reveal */
}

/* Styling for the generated image */
#imgBox img {
    width: 100%;
    padding: 10px;
}

/* Show image box */
#imgBox.show-img {
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
}

/* Error animation */
.error {
    animation: shake 0.1s linear 10; /* Shake animation for error */
}

/* Keyframes for shake animation */
@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-2px);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(0);
    }
}

header img {
    width: 200px;
}

header img:hover {
    transform: scale(1.05);
}

hr {
    width: 100%;
    max-width: 500px;
    height: 2px;
    background-color: #333;
    border: none;
    margin: 70px auto;
}

span{
    margin-left: 41%;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: grey;
}